weaviate-client==4.11.0
tensorflow==2.18.0
pillow==11.1.0
python-dotenv==1.1.0
cryptography==43.0.0
scipy==1.15.2
PyQt5==5.15.11
opencv-python==4.11.0.86
keras-facenet==0.3.2
opencv-python-headless==4.11.0.86
PyDrive2==1.21.3
